#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html,
body {
  background: #fafafa;
}

.container {
  max-width: var(--page-max);
  margin-inline: auto;
  padding: 24px 16px;
}

@media (min-width: 1024px) {
  .container {
    padding: 32px 0;
    --page-max: 820px;
  }
}
